<!DOCTYPE html>
<html lang="en">
<head>
    <title>Messages</title>
    <a href="/pharmacist/dashboard">Visit Dashboard</a>
    <a href="/pharmacist/message_form">Send New Message</a>
    <link rel="stylesheet" href="/static/pharmacist_styles.css">
</head>
<body>
    <h1>
        Messages 
    </h1>
    <div id="alert">
     {% if message %}
        {{message}}
     <button onclick="closealert(closealert)">Ok</button>

     {% endif %}
    </div>
    <table>
        <thead>
            <tr>
                <th>Message ID</th>
                <th>Message Object</th>
                <th>Content</th>
                <th>Receiver</th>
            </tr>
        </thead>
        {% for msg in messages %}
        <tr>
            <td>ID-{{msg.id}}</td>
            <td>{{msg.object}}</td>
            <td>{{msg.content}}</td>
            <td>{{msg.email}}</td>
        </tr>
        {% endfor %}

        <tbody>
        </tbody>
    </table>



<script>

function closealert(){
    document.getElementById("alert").style.display="none"
}
</script>
    
</body>
</html>