<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <a href="/pharmacist/dashboard">Visit Dashboard</a>supp
    <a href="/pharmacist/send_message">Send New Message</a>
</head>
<body>
    <h1>
        Messages 
    </h1>
    <div id="alert">
     {% if message %}
        
        {{message}}
     <button onclick="">Ok</button>

     {% endif %}
    </div>
    <table>
        <thead>
            <tr>
                <th>Message ID</th>
                <th>Message Object</th>
                <th>Content</th>
                <th>Sender</th>
            </tr>
        </thead>
        {% for msg in messages %}
        <tr>
            <td>IDMSG-{{msg.id}}</td>
            <td>{{msg.object}}</td>
            <td>{{msg.content}}</td>
            <td>{{msg.receiver}}</td>
        </tr>
        {% endfor %}

        <tbody>
        </tbody>
    </table>



<script>

function closealert(){
    document.getElementById("alert").style.display="none"
}
</script>
    
</body>
</html>