<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/supplier_styles.css">
    <title>Requests</title>
</head>

<body>

    <h1>Stock Requests</h1>

    <table>

        <thead>
            <tr>
                <th>Stock ID</th>
                <th>Stock Name</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>All Cost</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for request in requests %}

            <tr id="row-{{ request.id }}">
                <td>{{ request.id }}</td>
                <td>{{ request.product_name }}</td>
                <td>{{ request.quantity }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.all_cost }}</td>

                <td>

                    {% if request.status == "Pending" %}

                    <form action="/supplier/validate_request?request_id={{ request.id }}" method="post">
                        <button type="submit">Validate</button>
                    </form>

                    <form action="/supplier/refuse_request?request_id={{ request.id }}" method="post">
                        <button type="submit">Refuse</button>
                    </form>

                    {% else %}

                    <button onclick="delete_request({{ request.id }})">
                        Delete
                    </button>

                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>


    <script>

        async function delete_request(request_id) {

            try {

                const response = await fetch(
                    `/supplier/delete_request?request_id=${request_id}`,
                    {
                        method: "DELETE"
                    }
                );

                const data = await response.json();

                const row = document.getElementById(`row-${request_id}`);

                row.remove();

                alert(data.Message);

            } catch (error) {

                alert(error);

            }

        }

    </script>

</body>

</html>